@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('bpg_nino_mtavruli_normal.ttf') format('truetype');
  font-weight: normal;

}

body {
  font-family: 'BPG Nino Mtavruli', sans-serif;
}